.about-container {
    padding: 0 124px;
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    padding-bottom: 128px;

    @include vp-1023 {
        padding: 0;
        padding-left: 225px;
        max-width: 674px;
        padding-bottom: 80px;
    }

    @include vp-767 {
        padding: 0;
        max-width: 270px;
        padding-bottom: 92px;
    }

}

.about-container::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../../img/about-year.png");
    background-repeat: no-repeat;
    width: 150px;
    height: 320px;
    left: -93px;

    @include vp-1023 {
        left: 23px;
    }

    @include vp-767 {
        background-image: none;
    }


}

.about__button {
    background-color: transparent;
    border: 1px solid $color-deep-sky-blue;
    color: $color-deep-sky-blue;

    @include vp-767 {
        margin-top: 20px;
    }
}

.about__additional--hidden {
    display: none;
}

.about__title {
    margin: 0;
    font-family: $ff-robotocond;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: $color-black-pearl;
    margin-bottom: 15px;
}

.about__description {
    margin: 0;
    font-family: $ff-mono;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-black-pearl;
    margin-bottom: 30px;
}

.about__description--desktop {
    @include vp-767 {
        display: none;
    }
}

.about__description--mobile {
    display: none;

    @include vp-767 {
        display: inline;
    }
}

.about__additional {
    margin-top: 30px;
}

