.advantages__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    list-style-type: none;
    gap: 30px;

    @include vp-767 {
        display: block;
        gap: 0;
    }
}

.advantages__item {
    max-width: 595px;

    @include vp-1023 {
        margin: 0;
    }

}

.advantages__item:not(:last-child) {
    @include vp-767 {
        margin-bottom: 30px;
    }
}

.advantages-container {
    padding: 0 351px;
    width: 100%;
    margin: 0 auto;

    @include vp-1023 {
        padding: 80px 50px;
    }

    @include vp-767 {
        padding: 50px 25px;
    }

}

.advantages__item-container {
    border: 1px solid $color-whisper;
    border-left: 5px solid $color-deep-sky-blue;
    padding: 35px 39px;
    min-height: 300px;
    max-width: 595px;

    &:hover {
        background-color: $color-deep-sky-blue;
        color: $color-default-white;
    }

    @include vp-1023 {
        height: 360px;
        min-width: 320px;
    }

    @include vp-767 {
        height: 325px;
        min-width: 270px;
        padding: 30px 30px;
    }
}

.advantages__item-container:hover .advantages__title {
    color: $color-default-white;
}

.advantages__item-container:hover .advantages__description {
    color: $color-default-white;
}

.advantages__title {
    margin: 0;
    font-family: $ff-robotocond;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    align-items: center;
    color: $color-deep-sky-blue;
    margin-top: 19px;
    margin-bottom: 15px;

    @include vp-1023 {
        line-height: 34px;
        margin-top: 10px;
        margin-bottom: 7px;
    }

    @include vp-767 {
        font-size: 20px;
        line-height: 28px;
        margin: 0;
        margin-bottom: 15px;
        margin-top: 15px;
    }

}



.advantages__description {
    margin: 0;
    font-family: $ff-mono;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-black-pearl;

    @include vp-767 {
        font-size: 14px;
        line-height: 19px;

    }
}

.advantages__icon {
    fill: $color-deep-sky-blue;
}

.advantages__item-container:hover .advantages__icon {
    fill: $color-default-white;
}