.catalog {
    background-color: $color-black-pearl;
    padding-top: 58px;
    padding-bottom: 140px;

    @include vp-1023 {
        padding-top: 19px;
        padding-bottom: 75px;
    }
}

.catalog__card {
    position: relative;
}

.catalog__card:not(:last-child) {
    margin-right: 85px;

    @include vp-1023 {
        margin: 0;
        margin-bottom: 30px;
    }
}

.catalog__title {
    font-family: $ff-robotocond;
    display: inline-block;
    padding-top: 4px;
    padding-left: 175px;
    padding-bottom: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: $color-default-white;
    margin: 0;

    @include vp-1023 {
        padding-left: 25px;
        padding-top: 19px;
        padding-bottom: 18px;
    }

    @include vp-767 {
        font-size: 28px;
        line-height: 39px;
        padding: 0;
        padding: 0 25px;
    }
}

.catalog__title--desktop {

    @include vp-767 {
        display: none;
    }
}

.catalog__title--mobile {
    display: none;

    @include vp-767 {
        display: block;
    }
}

.catalog-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 1220px;
    margin: 0 auto;

    @include vp-1023 {
        display: block;
        padding: 0 50px;
    }

    @include vp-767 {
        padding: 0 25px;
        margin-top: 40px;
    }

}



.catalog__name {
    position: absolute;
    margin: 0;
    font-family: $ff-robotocond;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    top: 48px;
    left: 41px;
    color: $color-default-white;

    @include vp-1023 {
        top: 37px;
        left: 46px;
    }

    @include vp-767 {
        font-size: 18px;
        line-height: 30px;
    }

}



.catalog__card--production {
    background-image: linear-gradient(180deg, rgba(4, 24, 39, 0.5)), url("../../img/production-catalog-desk.jpg");
    background-color: $color-deep-sky-blue;
    width: 350px;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;

    @include vp-1023 {
        background-image: linear-gradient(180deg, rgba(4, 24, 39, 0.5)), url("../../img/production-catalog-tablet.jpg");
        background-color: $color-deep-sky-blue;
        width: 670px;
        height: 250px;
    }

    @include vp-767 {
        background-image: linear-gradient(180deg, rgba(4, 24, 39, 0.5)), url("../../img/production-catalog-mobile.jpg");
        background-color: $color-deep-sky-blue;
        width: 270px;
        height: 250px;
    }

}

.catalog__card--install {
    background-image: linear-gradient(180deg, rgba(4, 24, 39, 0.5)), url("../../img/installation-catalog-desk.jpg");
    background-color: $color-deep-sky-blue;
    width: 350px;
    height: 650px;


    @include vp-1023 {
        background-image: linear-gradient(180deg, rgba(4, 24, 39, 0.5)), url("../../img/installation-catalog-tablet.jpg");
        background-color: $color-deep-sky-blue;
        width: 670px;
        height: 250px;
    }

    @include vp-767 {
        background-image: linear-gradient(180deg, rgba(4, 24, 39, 0.5)), url("../../img/installation-catalog-mobile.jpg");
        background-color: $color-deep-sky-blue;
        width: 270px;
        height: 250px;
    }
}

.catalog__card--complect {
    background-image: linear-gradient(180deg, rgba(4, 24, 39, 0.5)), url("../../img/accessories-catalog-desk.jpg");
    background-color: $color-deep-sky-blue;
    width: 350px;
    height: 650px;

    @include vp-1023 {
        background-image: linear-gradient(180deg, rgba(4, 24, 39, 0.5)), url("../../img/accessories-catalog-tablet.jpg");
        background-color: $color-deep-sky-blue;
        width: 670px;
        height: 250px;
    }

    @include vp-767 {
        background-image: linear-gradient(180deg, rgba(4, 24, 39, 0.5)), url("../../img/accessories-catalog-mobile.jpg");
        background-color: $color-deep-sky-blue;
        width: 270px;
        height: 250px;
    }
}

.catalog__link {
    display: block;
    max-width: 350px;
    max-height: 650px;

}

.catalog__button {
    width: 60px;
    height: 60px;
    background-color: $color-deep-sky-blue;
    border-radius: 3px;
    background-image: url(../../img/svg/arrow-catalog.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    position: absolute;
    bottom: 0;
    right: 0;

}