.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-black-pearl;
    padding: 50px;
    font-size: 16px;
    color: $color-default-white;
    max-height: 280px;
}

.footer-container {
    margin-bottom: 35px;
}

.footer__block {

    &:not(:last-child) {
    margin-right: 159px;
    }
}

.footer__title {
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: $ff-robotocond;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer__list--social {
    flex-direction: row;
}

.footer__item {
    font-family: $ff-mono;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}



.footer__link {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    transition: color 0.3s;
}

.footer__icon {
    margin: 20px;
    margin-top: 0;
}

.footer__link:hover {
    color: #333;
}

@include vp-767 {
    .footer {
        flex-wrap: wrap;
    }

    .footer__block {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .footer__list {
        display: none;
    }

    .footer__title::after {
        content: "+";
        float: right;
    }

    .footer__title.active::after {
        content: "-";
    }

    .footer__title:hover {
        cursor: pointer;
        color: #333;
    }

    .footer__title.active,
    .footer__title:hover {
        color: #333;
    }

    .footer__title.active+.footer__list {
        display: block;
    }
}