.footer {
    display: flex;
    justify-content: center;
    background-color: $color-black-pearl;
    padding: 30px 0;
    font-size: 16px;
    min-height: 280px;
    color: $color-default-white;

    @include vp-1023 {
        min-height: 465px;
        padding-top: 50px;
        padding-bottom: 65px;
    }

    @include vp-767 {
        min-height: 300px;
    }


}

.footer-container {
    margin-bottom: 36px;

    @include vp-1023 {
        margin: 0;
    }

    @include vp-767 {
        padding-top: 32px;
        padding-bottom: 23px;
        padding-left: 50px;
    }
}

.footer-wrapper {
    display: flex;

    @include vp-1023 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @include vp-767 {
        display: block;
        padding: 0;
    }
}

.footer__link--social {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}



.footer__block {

    margin-top: 19px;

    &:not(:last-child) {
        margin-right: 158px;

        @include vp-1023 {
           margin-right: 0;
           margin-top: 0;
        }

        @include vp-767 {
        }

    }
}

.footer__block--social {

    @include vp-1023 {
        position: unset;
        display: flex;
        grid-column: 1/3;
    }

}

.footer__block--section {

    margin-left: 3px;

    @include vp-1023 {
        grid-area: 2/1;
        padding-top: 36px;
        margin-left: 0;
    }

    @include vp-767 {
        margin-bottom: 0;
    }
}

.footer__block--office {

    margin-left: -33px;

    @include vp-1023 {
        grid-area: 2/2;
        margin-left: 16px;
        margin-top: 35px
    }
}

.footer__title {
    margin: 0;
    margin-bottom: 21px;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: $ff-robotocond;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    @include vp-1023 {
        margin: 0;
        margin-bottom: 20px;
    }

}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer__list--section {
    display: grid;
    grid-template-columns: 2fr 1fr;


    @include vp-1023 {
        display: block;
        column-gap: 0;
    }
}


.footer__list--social {
    flex-direction: row;
    margin-left: 16px;

    @include vp-1023 {
        margin-left: auto;
        margin-top: 10px;
        margin-right: -25px;
    }

    @include vp-767 {
        margin: 0;
    }
}

.footer__item {
    font-family: $ff-mono;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;

    @include vp-1023 {
        line-height: 22px;
    }
}



.footer__item--delivery {
    grid-column: 2/3;
    grid-row: 2/3;

}

.footer__item--contacs {
    grid-column: 2/3;
    grid-row: 3/4;
}

.footer__item--complect {
    grid-column: 2/3;
    grid-row: 1/2;
}

.footer__item--mother-board {
    grid-column: 1/2;
}

.footer__item--production {
    grid-column: 1/2;
}

.footer__item--products {
    grid-column: 1/2;
}


.footer__item--section {
    margin: 0;
    margin-bottom: 8px;

    @include vp-1023 {
        margin-bottom: 8px;
    }

}


.footer__item--office {
    margin-bottom: 8px;

    @include vp-1023 {
        margin-bottom: 10px;
    }
}

.footer__item--social {
    margin-right: 5px;
}


.footer__link {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    transition: color 0.3s;
}

.footer__icon {
    margin-top: 0;
    fill: $color-default-white;
}

.footer__icon:hover {
    fill: $color-deep-sky-blue;
}

.footer__link:hover {
    color: $color-deep-sky-blue;
}

.footer__link--disabled {
    pointer-events: none;
}


@include vp-767 {

    .footer {
        display: block;
        padding: 35px 0;
        height: auto;

    }

    .footer__item {
        font-size: 14px;
        line-height: 19px;
    }

    .footer__title {
        font-size: 15px;
        line-height: 16px;
    }

    .footer__block {
        flex-basis: 100%;
        padding-left: 25px;
    }

    .footer__block--social {
        display: flex;
        flex-direction: column;
        padding:0;
        align-items: center;
        margin: 0;
        margin-bottom: 29px;

    }

    .footer__block--office {
        margin: 0;
        border-top: 1px solid rgba(248, 253, 255, 0.7);
        border-bottom: 1px solid rgba(248, 253, 255, 0.7);
        padding-top: 20px;
        padding-bottom: 2px;
    }

    .footer__block--section {
        border-top: 1px solid rgba(248, 253, 255, 0.7);
        border-bottom: 1px solid rgba(248, 253, 255, 0.7);
        padding-top: 20px;
        padding-bottom: 2px;
    }

    .footer-container {
        margin: 0;
        padding: 0;
        padding-top: 0;

    }

    .footer__list {
        display: none;
    }

    .footer__list--social {
        display: block;
        display: flex;
        padding-left: 30px;
        padding-top: 21px;
    }

    .footer__title--disable::after {
        content: "";
        position: absolute;
        left: auto;
        right: 25px;
        width: 15px;
        height: 1px;
        background-color: $color-silver;

    }

    .footer__title--disable::before {
        content: "";
        position: absolute;
        left: auto;
        right: 25px;
        width: 15px;
        height: 1px;
        transform: rotate(90deg);
        background-color: $color-silver;
    }

    .footer__title--active::after {
        content: "";
        position: absolute;
        left: auto;
        right: 25px;
        width: 15px;
        height: 1px;
        background-color: $color-silver;
    }


    .footer__title:hover {
        cursor: pointer;
        opacity: 0.3;
    }

    .footer__title--active,
    .footer__title:hover {
        opacity: 0.3;
    }

    .footer__title--active+.footer__list {
        display: block;
    }

    .footer__item--office {
        margin-bottom: 14px;
    }
}