.header {
    background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);

}

.header--position {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
}


.header-container {
    display: flex;
    padding-top: 30px;
    padding-bottom: 29px;
    min-height: 120px;;

    @include vp-1023 {
        justify-content: space-between;
        padding-top: 0;
        padding-bottom: 0;
        min-height: 100px;
    }
}

.header-wrapper {
    
    @include vp-1023 {
    padding-top: 20px;
    }
}


.header__link {
    display: inline-block;
    position: relative;
    font-family: $ff-mono;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: $color-alice-blue;
}


.header__logo {
    height: 55px;
    width: 215px;

    @include vp-767 {
        width: 35px;
        height: 35px;
    }
}