.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
}

.header-container {
    padding: 30px 145px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;

    @include vp-1023 {
        padding: 30px 25px;
    }
}