.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
    
}

.header-container {
    padding: 30px 145px;
    display: flex;
    justify-content: space-evenly;

    @include vp-1023 {
        padding: 30px 50px;
        justify-content: space-between;
    }

    @include vp-767 {
        padding: 30px 24px;
    }
}

.header__link {
    display: inline-block;
    position: relative;
    font-family: $ff-mono;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: $color-alice-blue;
}


.header__logo {
    min-height: 55px;
    min-width: 215px;
    @include vp-767 {
       width: 0;
       height: 0;
    }
}