

.hero-container {
    background-image: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%), url("../img/main-background-desktop.jpg");
    background-size: cover;
    background-color: $color-black-pearl;
    width: 100%;
    min-height: 880px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 60px;



    @include vp-1023 {
        background-image: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%), url("../img/main-background-tablet.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 640px;
        padding-bottom: 20px;
        padding-top: 20px;


    }

    @include vp-767 {
        background-image: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%), url("../img/main-background-mobile.jpg");
        background-size: cover;
        min-height: 560px;
    }
}

.hero__title {
    margin: 0;
    padding: 0;
    font-family: $ff-robotocond;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $color-alice-blue;
    margin-bottom: 31px;
    margin-right: 253px;
    margin-top: 20px;

    @include vp-1023 {
        font-size: 64px;
        line-height: 75px;
        letter-spacing: 0.07em;
        margin: 0;
        margin-top: -30px;
        margin-right: 96px;;
    }

    @include vp-767 {
        font-size: 36px;
        line-height: 42px;
        margin: 0;
        margin-left: 26px;
        margin-bottom: 8px;
        margin-top: -40px;
    }
}

.hero__description {
    margin: 0;
    padding: 0;
    font-family: $ff-mono;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 155%;
    color: $color-alice-blue;
    margin-bottom: 45px;
    margin-right: 364px;

    @include vp-1023 {
        margin: 0;
        margin-left: 0;
        margin-bottom: 35px;
        margin-right: 62px;
    }

    @include vp-767 {
        margin: 0;
        font-size: 14px;
        margin-left: 26px;
    }

}

.hero__button {
    background-color: $color-deep-sky-blue;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
    width: 410px;
    padding: 17px 25px;
    border-radius: 3px;
    margin-right: 560px;

    @include vp-1023 {
        margin: 0;
        margin-right: 170px;
        margin-top: 20px;
    }

    @include vp-767 {
        margin: 0;
        margin-top: 26px;
    }
}

.hero__button--mobile {

    @include vp-767 {
        display: none;
    }
}

.hero__button--hidden {
    display: none;

    @include vp-767 {
        display: block;
        width: 270px;
        padding: 10px 30px;
        font-size: 14px;
        line-height: 16px;

    }
}