.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba(3, 16, 27, 0.7);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;



  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;

    @include vp-767 {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;
    margin-top: 63px;
    margin-right: 20px;
    width: 500px;
    height: 610px;
    padding: 40px;

    background-color: $color-deep-sky-blue;

    @include vp-767 {
      width: 100%;
      padding: 20px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 17px;
    right: 12px;
    z-index: 1;

    width: 40px;
    height: 40px;
    padding: 0;

    background: $color-transparent;
    border: none;
    cursor: pointer;
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
}

.form-container-modal {
  margin-bottom: 35px;
}

.fieldset-data-modal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

.fieldset-data-modal li {
  font-family: $ff-mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  margin-bottom: 20px;
}


.fieldset-data-modal input {
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: 0;
  width: 100%;
  padding: 15px;
  outline: none;
  color: $color-default-white;

  @include vp-1023 {
    width: 320px;
  }

  @include vp-767 {
    width: 270px;
  }
}

.fieldset-data-modal input::placeholder {
  color: $color-default-white;
}

.fieldset-data-modal input:hover {
  outline: 1px solid $color-default-white;
}

.fieldset-data-modal input:focus {
  outline: 2px solid $color-default-white;
}

.fieldset-data-modal input:disabled {
  background-color: rgba(255, 255, 255, 0.3);
}


.fieldset-data-modal textarea {
  background: rgba(4, 20, 39, 0.15);
  border: 0;
  border-radius: 3px;
  padding: 25px 16px;
  width: 100%;
  height: 155px;
  outline: none;
  color: $color-default-white;

  @include vp-1023 {
    width: 655px;
  }
}

.fieldset-data-modal textarea::placeholder {
  color: $color-default-white;
}

.fieldset-data-modal textarea:hover {
  outline: 1px solid $color-default-white;
}

.fieldset-data-modal textarea:focus {
  outline: 2px solid $color-default-white;
}

.fieldset-data-modal textarea:disabled {
  background-color: rgba(255, 255, 255, 0.3);
}

.form-container-modal h2 {
  font-family: $ff-robotocond;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: $color-default-white;
  margin: 0;
  padding-bottom: 5px;

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
  }
}

.form-container-modal p {
  margin: 0;
  font-family: $ff-mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.form-ask-container-modal {
  display: block;
  margin-bottom: 13px;
}

.form-ask-container-modal button {
  width: 100%;
  padding: 15px 0;
  padding-left: 172px;
}


.form-ask__control--modal {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid $color-default-white;
  left: 51px;
  top: 554px;
}

.form-ask-container-modal label:hover .form-ask__control--modal {
  background: rgba(255, 255, 255, 0.6)
}

.form-ask__checkbox:focus+.form-ask__control--modal {
  box-shadow: 0 0 0 2px $color-black-pearl;
}

.form-ask__checkbox:disabled+.form-ask__control--modal {
  background-color: rgba(255, 255, 255, 0.3);
}

.form-ask__checkbox[type="checkbox"]:checked+.form-ask__control--modal::before,
.form-ask__checkbox[type="checkbox"]:checked+.form-ask__control--modal::after {
  content: "";
  position: absolute;
  background-image: url(../img/svg/check-icon.svg);
  background-repeat: no-repeat;
  top: 3px;
  left: 2px;
  bottom: 0;
  width: 8px;
  height: 8px;
}

.form-ask__description--modal {
  width: 100%;
  font-family: $ff-mono;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;
  display: block;
  margin: 0;
  margin-top: 16px;
  padding-left: 38px;

  @include vp-767 {
    width: 234px;
    padding-left: 28px;
  }
}