
.navigation__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.btn--navigation {
    font-family: $ff-robotocond;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: $color-black-pearl;
    border: 1px solid $color-alice-blue;
    border-radius: 3px;
}

.navigation__link {
    display: inline-block;
    position: relative;
    font-family: $ff-mono;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: $color-alice-blue;
}

.navigation__item--button {
    @include vp-1023 {
        display: none;
    }
}

.navigation__span--hidden {
    @include vp-1023 {
        visibility: hidden;
    }
}

.navigation__item:not(:last-child) {
    margin-right: 150px;

    @include vp-1023 {
        margin: 0;
        width: 21px;
        height: 20px;
        margin-right: 42px;
    }
}

.navigation__icon {
    position: absolute;
    left: -29px;

    @include vp-1023 {
        position: unset;
    }
}